<?xml version="1.0" encoding="utf-8" ?>

<LanguageData>
	<NutrientPasteTiers>NutrientPasteTiers</NutrientPasteTiers>
	<DisableIngredientCheck>Mystery Meat</DisableIngredientCheck>
	<DisableIngredientTooltip>Disable ingredient checking when dispensing nutrient paste, preventing mood debuffs for insect and human meat</DisableIngredientTooltip>
	<NutrientPasteTiersCategoryLabel>NutrientPasteTiers</NutrientPasteTiersCategoryLabel>
</LanguageData>