<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
  <NutrientPasteTiers>NährstoffpasteStufen</NutrientPasteTiers>
  <DisableIngredientCheck>Mysteriöses Fleisch</DisableIngredientCheck>
  <DisableIngredientTooltip>Deaktivierung der Zutatenprüfung bei der Ausgabe von Nährstoffpaste, um Stimmungsschwächungen für Insekten- und Menschenfleisch zu verhindern</DisableIngredientTooltip>
  <NutrientPasteTiersCategoryLabel>NährstoffpasteStufen</NutrientPasteTiersCategoryLabel>
</LanguageData>
